<h2>Edit Service</h2>
<form action="/services/<%= service.id %>?_method=PUT" method="POST">
    <%- include('_form_fields_edit') %>
    <a href="/services">Cancel</a>
    <button type="submit">Update</button>
</form>