<h2 class="page-header">New Car</h2>
<form action="/cars" method="POST">
    <%- include('_form_fields') %>
    <div class="form-row form-row-end">
    <a class="btn btn-danger" href="/cars">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>